@charset "utf-8";

/* common */

body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

p {
  margin: 0;
}

img {
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #000;
  display: block;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}


/* header */

header {
  width: 100%;
  background: #fff;
  position: fixed;
  top: 0;
  z-index: 10;
}

header h1 {
  font-size: 28px;
  padding: 16px 32px;
}

header ul {
  display: flex;
  gap: 64px;
  background: #000;
  padding: 8px 24px;
}

header li a {
  color: #fff;
}

header li a:hover {
  opacity: .7;
}


/* about */

.about {
  padding-top: 128px;
  text-align: center;
}

.about h2 {
  width: 80px;
  border-bottom: 1px solid black;
  margin: 0 auto;
}

.about img {
  margin: 32px 0;
  opacity: .7;
}

.about p span {
  font-weight: bold;
}

/* works */

.works {
  padding-top: 148px;
  text-align: center;
}

.works h2 {
  width: 80px;
  border-bottom: 1px solid black;
  margin: 0 auto;
}

.works p {
  margin-top: 32px;
}

/* skills */

.skills {
  padding-top: 148px;
  text-align: center;
}

.skills h2 {
  width: 96px;
  border-bottom: 1px solid black;
  margin: 0 auto 32px;
}

.skills p + p {
  margin-top: 16px;
}

/* Q&A */

.qa {
  padding-top: 148px;
}

.qa h2 {
  width: 48px;
  margin: 0 auto 32px;
  text-align: center;
  border-bottom: 1px solid black;
}

.qa p {
  margin: 16px 32px;
}

.qa p:nth-child(even) {
  padding-bottom: 8px;
  border-bottom: 1px solid black;
  position: relative;
  cursor: pointer;
}

.qa p:nth-child(odd) {
  opacity: 0;
  transform: translateY(-40px);
  transition: opacity .3s, transform .3s;
}

.qa p:nth-child(even)::before {
  content: 'Q, ';
  font-size: 22px;
}

.qa p:nth-child(even)::after {
  content: ' +';
  position: absolute;
  font-size: 22px;
  top: 0;
  right: 8px;
  transition: transform .3s;
}

.qa p.appear:nth-child(even)::after {
  transform: rotate(45deg);
}

.qa p:nth-child(odd)::before {
  content: 'A, ';
  font-size: 22px;
}

.qa p:nth-child(odd).appear {
  opacity: 1;
  transform: none;
}

/* contact */

.contact {
  padding-top: 148px;
  padding-bottom: 64px;
  text-align: center;
}

.contact h2 {
  width: 108px;
  border-bottom: 1px solid black;
  
  margin: 0 auto 32px;
}

.contact .container div {
  display: flex;
  gap: 64px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

i {
  font-size: 24px;
  color: rgb(110, 183, 212);
  cursor: pointer;
}

i:hover {
  opacity: .7;
}

